

.heading{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
}

.noteform{
    padding: 50px;
    border: 5px solid black;
    border-radius: 10px;
}

.form{
    padding: 50px;
}


label{
    font-size: x-large;
    font-weight: bold;
    margin: 5px;
}

input{
    border: 2px solid;
}
